# Ignore node modules and build files
node_modules/
**/node_modules/
.next/
.env
.DS_Store
/dist/
services/generator/.env
__pycache__/
*.pyc

# Python virtual environment
.venv/
*/.venv/
**/.venv/

# Credentials
credentials.json
**/credentials.json

